@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

/*#region ROOT*/
:root {
  --text: #f3f1ec;
  --background: #3a8376;
  --primary: #daf6e3;
  --secondary: #af6818;
  --accent: #e7a150;
}

/*#endregion ROOT */

* {
  font-family: "Geologica", sans-serif;
}
body {
  background-color: #e6dcdb;
}
.section_container {
  position: relative;
  padding: 2rem 0;
}

.card {
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.2s;
  /* height: 110% !important; */
}

.card-title {
  height: 100px !important;
}

.product_name {
  font-size: 1.05rem;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-img-top {
  object-fit: cover;
}

.card-img-top:hover {
  cursor: pointer;
}

.card-title:hover {
  cursor: pointer;
  text-decoration: underline 1.2px;
}

.card:hover {
  transform: scale(1.05);
}

.bi-star:hover,
.bi-cart3:hover {
  color: rgb(254, 217, 7);
}

/* .cart-row {
  position: relative;
} */

.cart-summary {
  position: sticky;
  top: 160px;
  align-self: flex-start;
  /* padding: 1rem; */
  z-index: 100;
}

.cart-summary-header {
  /* border-bottom: solid 2px var(--background); */
  background-color: var(--primary);
  text-align: center;
}

.card-buttons * {
  background: transparent;
  border: 0px transparent;
}
