:root {
  --text: #f3f1ec;
  --background: #5fbbaae1;
  --primary: #daf6e3;
  --secondary: #af6818;
  --accent: #e7a150;
}

.cart {
  min-height: calc(51vh);
  display: flex;
  flex-direction: column;
}

.max-width-img {
  max-width: 115px;
  height: 90px;
  object-fit: contain;
  border-radius: 0.5rem;
}

.quantity-container {
  border-radius: 5px;
}

.shop-continue-btn {
  border-radius: 8px;
  border: 3px solid transparent;
  background-color: var(--accent);
  color: white;
  padding: 5px 20px;
  transition: 0.2s;

  &:hover {
    background-color: var(--primary);
    color: var(--background);
  }

  &:active {
    border: 3px solid var(--background);
    background-color: transparent;
  }
}

.quantity-btn {
  box-shadow: 2px 2px 5px transparent;
  border: none;
  border-radius: 5px;
  padding: 0 12px;
  background-color: transparent;
  font-size: 30px;
  transition: 0.2s;

  &:hover {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.235);
    color: var(--accent);
    cursor: pointer;
    margin-bottom: 5px;
  }

  &:active {
    box-shadow: none;
    margin-bottom: 0;
    color: transparent;
  }
}

.quantity-btn-mobile {
  border: none;
  background-color: transparent;
  font-size: 30px;
  transition: 0.2s;

  &:active {
    color: var(--accent);
  }
}

.trash-btn {
  transition: 0.2s;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 2px 2px 5px transparent;
  padding: 5px 10px;

  i {
    transition: 0.2s;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.235);
    margin-bottom: 5px;

    i {
      color: red;
    }
  }

  &:active {
    box-shadow: none;
    margin-bottom: 0;

    i {
      color: transparent;
    }
  }
}

.trash-btn-mobile {
  transition: 0.2s;
  border: none;
  background-color: transparent;
  font-size: 15px;

  i {
    transition: 0.2s;
    color: var(--accent);
  }

  &:active {
    i {
      color: red;
    }
  }
}

.sub-text {
  color: var(--accent);
}

.check-cont {
  margin: 30px 0;
  transition: 0.2s;
}

.check-btn {
  padding: 15px 49px;
  background-color: var(--background);
  color: var(--text);
  border: 3px solid var(--background);
  border-radius: 10px;
  transition: 0.2s;
  font-weight: bold;

  i {
    margin-left: 15px;
    color: var(--text);
    transition: 0.2s;
  }

  &:hover {
    background-color: var(--primary);
    border: 3px solid var(--primary);
    color: var(--background);

    i {
      color: var(--background);
    }
  }

  &:active {
    box-shadow: none;
    border: 3px solid var(--accent);
    color: var(--accent);
    background-color: transparent;

    i {
      color: var(--accent);
    }
  }
}

.check-btn-mobile {
  padding: 15px 50px;
  background-color: var(--background);
  color: var(--text);
  border: 3px solid var(--background);
  border-radius: 10px;
  transition: 0.2s;
  font-weight: bold;

  i {
    margin-left: 15px;
    color: var(--text);
    transition: 0.2s;
  }

  &:active {
    box-shadow: none;
    border: 3px solid var(--accent);
    color: var(--accent);
    background-color: transparent;

    i {
      color: var(--accent);
    }
  }
}

.empty-cart {
  padding: 15px 20px;
  background-color: transparent;
  color: red;
  border: 3px solid red;
  border-radius: 10px;
  transition: 0.2s;

  i {
    margin-left: 15px;
    color: red;
    transition: 0.2s;
  }

  &:hover {
    background-color: red;
    color: white;

    i {
      color: white;
    }
  }

  &:active {
    border: 3px solid transparent;
    color: transparent;
    background-color: transparent;

    i {
      color: transparent;
    }
  }
}
