PORT=3030
DATABASE_URL=postgresql://<user>:<password>@<your-project>.supabase.co:5432/postgres
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=<YOUR_PASSWORD>
DB_DATABASE=fluffman_db
EMAIL_USER=tuo.email@esempio.com
GOOGLE_CLIENT_ID='il_tuo_ID_client'
GOOGLE_CLIENT_SECRET='il_tuo_segreto_client'
GOOGLE_REFRESH_TOKEN='il_tuo_refresh_token'
GOOGLE_APP_PASSWORD="la_tua_nuova_password_di_16_caratteri"